* {
  margin: 0;
  padding: 0;
}
:root {
  --primeclr: #10ac59;
  --white: #ffffff;
  --blacko: #000000;
}

body {
  background-color: var(--blacko);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}

::selection {
  background-color: var(--white);
  color: var(--blacko);
}

span {
  color: var(--primeclr);
  filter: drop-shadow(-1px -1px 5px #63eda369);
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  z-index: 100;
  background-color: var(--blacko);
  position: sticky;
  top: 0;
}

/* Logo */
#logo {
  font-size: 36px;
  font-weight: 600;
}

/* Navigation Containor  */

nav {
  padding: 0;
  margin: 0;
}

/* Navigation Links */

nav a {
  color: var(--white);
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  font-size: larger;
  position: relative;
  transition: width 0.3s ease;
}

nav a:nth-child(4) {
  margin-right: 0;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust based on the desired underline position */
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--primeclr);
  transition: width 0.3s ease; /* Smooth transition for the underline */
}

/* Adjust the width of the underline on hover */
nav a:hover::before {
  width: 100%;
}

/* Navigation on Hover */
nav a:hover {
  color: var(--primeclr);
}

/* Hero Section Image */
.containor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 60px;
  justify-content: space-between;
}

.my-img {
  display: flex;
  width: 38%;
  justify-content: center;
  align-items: center;
}

.my-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 30px hsla(148, 83%, 37%, 0.293));
}

/* hero Section Content */
.content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.content h2 {
  font-size: 32px;
  font-weight: 400;
}

.content h1 {
  font-size: 52px;
  font-weight: 500;
}

.content p {
  font-size: 16px;
  font-weight: 300;
}

/* Social Icons */
.Sicons i {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--primeclr);
  font-size: 22px;
  border: 1px solid var(--primeclr);
  border-radius: 100%;
  padding: 11px;
  margin-right: 10px;
  /* transition: ease-in 0.5s; */
}

.Sicons i:hover {
  transition: transform 0.3s ease, color 0.3s ease;
  transform: scale(1.2);
}

button {
  background-color: var(--primeclr);
  border: 0;
  border-radius: 4px;
  padding: 15px 50px;
  font-size: 22px;
  font-weight: 600;
  color: var(--white);
  width: 250px;
  margin-top: 15px;
  /* transition: ease-in; */
}

button:hover {
  transition: ease 0.3s;
  transform: scale(1.05);
}

.dropdown i {
  font-size: xx-large;
}

.dlinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: none;
}

.dlinks a {
  color: var(--white);
  text-decoration: none;

  padding: 3px 30px;
}

.dlinks a:hover {
  background-color: var(--primeclr);
  color: var(--white);
}

.dropdown::before {
  content: "\f0c9";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  font-size: xx-large;
}

#res-nav {
  display: none;
}

#open-button {
  display: none;
}

.Sidebar {
  display: none;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Media Query for Tablets (768px - 1023px) */
/* @media screen and (max-width: 1023px) {

} */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Media Query for Mobile Devices (up to 767px) */
@media screen and (max-width: 600px) {
  .containor {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }

  .my-img {
    width: 100%;
  }

  .my-img img {
    width: 70%;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .content h1 {
    font-size: 42px;
  }

  .content h2 {
    font-size: 32px;
  }

  header {
    padding: 10px 0;
  }

  #logo {
    font-size: 18px;
  }
  #PC-Nav a {
    display: none;
  }

  #open-button {
    display: inline-block;
  }
  .Sidebar {
    display: flex;
  }
  .links-containor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -3500;
    z-index: 10;
    width: 250px;
    height: 100vh;
    background-color: var(--primeclr);
    padding: 20px;
    box-shadow: -1px 0px 15px -5px var(--white);
    transition: linear 0.3s;
  }

  .links-containor a {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
  }

  #res-nav:checked ~ .links-containor {
    right: 0;
  }
}
